################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebhookReceive
/NetCore/obj
/packages
/NetFramework/bin
/NetFramework/obj/Debug
/Core/obj
/.vs/ProjectEvaluation
/MinialApi/bin/Debug/net6.0
/MinialApi/obj
/NetCore/bin/Debug/net6.0
